<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  Prijava </h1>
    <h2> Netko se prijavio na vaš posao </h2>

    <
    <%= @application.ime %>
    <%= @application.prezime %>
 
   
  </body>
</html>