<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  Prijava </h1>
    <%= @application.ime %>
    <%= @application.prezime %>
    itd...
    itd...
   
  </body>
</html>