<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  Uspješno ste se prijavili za posao <%= @job.naziv_oglasa  %></h1>
    <p><%= @job.opis_oglasa %></p>
 
  </body>
</html>